<div class="container">
<h2>Add Entry</h2>
<h3 ng-show="vm.editing">Editing {{vm.newEntry.name}}</h3>
<!-- the POST -->
<div class="addEntry">
  <input type="text" id="addEntry" ng-model="vm.newEntry.entry" placeholder="Task I burned hours against"></input>
  <br>

<select ng-model="vm.newEntry.projects_id">
  <!-- not selected / blank option -->
  <option value="">---Please select---</option>
  <!-- repeat over projects -->
  <option ng-repeat="project in vm.addProject.list" value="{{project.id}}">{{project.p_name}}</option>
</select>

  <input type="date" ng-model="vm.newEntry.date" placeholder="Date"></input>

  <input type="time" ng-model="vm.newEntry.start_time" placeholder="Start time"></input>
  <input type="time" ng-model="vm.newEntry.end_time" placeholder="End time"></input>

  <input type="number" ng-model="vm.newEntry.hours" placeholder="Hours (do the math)"></input>

  <button ng-click="vm.addEntry(vm.newEntry)">Submit</button>
</div>

<!-- the GET -->
<h3>History </h3>
<div class="getEntry">
  <table>
    <thead>
      <tr>
        <th>Entry</th>
        <th>Project</th>
        <th>Date</th>
        <th>Start time</th>
        <th>End time</th>
        <th>Hours Burned</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody ng-repeat="entry in vm.addEntry.list">
      <tr>
        <td>{{entry.e_name}}</td>
        <td>{{entry.p_name}}</td> <!-- need projects.project_name to display -->

        <td>{{entry.e_date | date:'MM-dd-yyyy'}}</td>

        <td>{{entry.e_start_time | date: 'h:mma'}}</td>
        <td>{{entry.e_end_time | date: 'h:mma'}}</td>

        <td>{{entry.e_hours}}</td>

        <td>
          <button ng-click="vm.editEntry(entry)">Edit</button>
          <button ng-click='vm.deleteEntry(entry.e_id)'>Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

</div>