<h3>Add Tasks</h3>
<!-- the POST -->

  <md-input-container  layout="row">
    <input type="text" id="addEntry" ng-model="vm.newEntry.entry" placeholder="type brief task description" required>
    </input>
  </md-input-container>

  <div layout="row" layout-align="space-around bottom">
    <md-input-container>
      <md-select ng-model="vm.newEntry.project_id" placeholder="select project" required>
        <md-option value=""><em>*selection required*</em></md-option>
        <md-option ng-repeat="project in vm.project.list" value="{{project.id}}">{{project.project_name}}
        </md-option>
      </md-select>
    </md-input-container>

    <md-input-container>
      <md-datepicker ng-model="vm.newEntry.date" md-placeholder="select date" required>
      </md-datepicker>
    </md-input-container>

    <md-input-container>
      <input type="number" step=".25" ng-model="vm.newEntry.hours" placeholder="time burned" required>
      </input>
    </md-input-container>

    <md-button type="button" class="md-primary" ng-click="vm.addEntry(vm.newEntry)">submit</md-button>
  </div>

<!-- the GET -->
<h3>History by date</h3>

  <table>
    <thead>
      <tr>
        <th>Entry</th>
        <th>Project</th>
        <th>Date</th>
        <th>Hours Burned</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody ng-repeat="entry in vm.entry.list">
      <tr>
        <td>{{entry.e_name}}</td>
        <td>{{entry.p_name}}</td> <!-- need projects.project_name to display -->

        <td>{{entry.e_date | date:'MM-dd-yyyy'}}</td>

        <td>{{entry.e_hours}}</td>

        <td>
          <md-button class="md-warn md-hue-2" ng-click='vm.deleteEntry(entry.e_id)'>Delete</md-button>
        </td>
      </tr>
    </tbody>
  </table>
