<div class="container">
<h2>Add Entry</h2>
<!-- the POST -->
<div class="addEntry">
  <input flex type="text" id="addEntry" ng-model="vm.newEntry.entry" placeholder="Task I burned hours against" required></input>

<select flex ng-model="vm.newEntry.project_id">
  <!-- not selected / blank option -->
  <option value="">---Select Project---</option>
  <!-- repeat over projects -->
  <option ng-repeat="project in vm.addProject.list" value="{{project.id}}">{{project.project_name}}</option>
</select>

<br>

  <input flex type="date" ng-model="vm.newEntry.date" placeholder="Date" required></input>

  <!-- <md-datepicker ng-model="vm.newEntry.date" md-placeholder="Enter date"></md-datepicker> -->

  <input flex type="time" ng-model="vm.newEntry.start_time" placeholder="Start time" required></input>
  <input flex type="time" ng-model="vm.newEntry.end_time" placeholder="End time" required></input>

  <input flex type="number" ng-model="vm.newEntry.hours" placeholder="Hours (do the math)" required></input>

  <md-button flex class="md-raised md-primary" ng-click="vm.addEntry(vm.newEntry)">Submit</md-button>
</div>

<!-- the GET -->
<h3>History </h3>
<div class="getEntry">
  <table>
    <thead>
      <tr>
        <th>Entry</th>
        <th>Project</th>
        <th>Date</th>
        <th>Start time</th>
        <th>End time</th>
        <th>Hours Burned</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody ng-repeat="entry in vm.addEntry.list">
      <tr>
        <td>{{entry.e_name}}</td>
        <td>{{entry.p_name}}</td> <!-- need projects.project_name to display -->

        <td>{{entry.e_date | date:'MM-dd-yyyy'}}</td>

        <td>{{entry.e_start_time | date: 'h:mma'}}</td>
        <td>{{entry.e_end_time | date: 'h:mma'}}</td>

        <td>{{entry.e_hours}}</td>

        <td><md-button class="md-raised md-warn" ng-click='vm.deleteEntry(entry.e_id)'>Delete</md-button></td>
      </tr>
    </tbody>
  </table>
</div>

</div>