<div class="container">
  <h2>Add Project</h2>
  <!-- the POST -->
  <div class="addProject">
    <input flex type="text" id="projectName" ng-model="vm.newProject.project_name" placeholder="Project name"></input>

    <md-button flex class="md-raised md-primary" ng-click="vm.addProject(vm.newProject)">Submit</md-button>
  </div>
  
  <!-- the GET -->
  <h3>History</h3>
  <div class="getProject">
    <table>
      <thead>
        <tr>
          <th>Project</th>
          <th>Hours Burned</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody ng-repeat="project in vm.addProject.list">
        <tr>
          <td>{{project.project_name}}</td>
          <td>{{project.sum}}</td>
          <td>
            <md-button class="md-raised md-warn" ng-click='vm.deleteProject(project)'>Delete</md-button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  </div>