<div class="container">
  <h3>Add Project</h3>
  <!-- the POST -->
  <div class="addProject">
    <input type="text" ng-model="vm.newProject.project_name" placeholder="Project name"></input>
    <button ng-click="vm.addProject(vm.newProject)">Submit</button>
  </div>
  
  <!-- the GET -->
  <h3>History</h3>
  <div class="getProject">
    <table>
      <thead>
        <tr>
          <th>Project</th>
          <th>Hours Burned</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody ng-repeat="project in vm.addProject.list">
        <tr>
          <td>{{project.project_name}}</td>
          <td>{{entry.hours}}</td>
          <td>
            <button ng-click='vm.deleteProject(project)'>Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  </div>