  <h3>Add Projects</h3>
  <!-- the POST -->

  <md-input-container layout="row">
    <input ng-model="vm.newProject.project_name" placeholder="type project name" required></input>
  </md-input-container>

  <md-button class="md-primary" ng-click="vm.addProject(vm.newProject)">submit</md-button>


  <!-- the GET -->
  <h3>Hours burned per project</h3>

    <table>
      <thead>
        <tr>
          <th>Project</th>
          <th>Hours Burned</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody ng-repeat="project in vm.project.list">
        <tr>
          <td>{{project.project_name}}</td>
          <td>{{project.sum}}</td>
          <td>
            <md-button class="md-warn md-hue-2" ng-click='vm.deleteProject(project)'>Delete</md-button>
          </td>
        </tr>
      </tbody>
    </table>
