
<div class="container">

    <h3>A report using angular-chart.js is under construction.</h3>

    <h4>Angular, are you there?</h4>
    <p>vm.addProject.list = {{vm.addProject.list}}</p>
    <p>vm.addProject.list[0] = {{vm.addProject.list[0]}}</p>
    <p>vm.addProject.list[0].project_name = {{vm.addProject.list[0].project_name}}</p>
    <p>vm.addProject.list[0].sum = {{vm.addProject.list[0].sum}}</p>
   
    <h4>loop using project in vm.addProject.list</h4>
    <div ng-repeat="project in vm.addProject.list">

        <p>project = {{project}}</p>
        <p>project.project_name = {{project.project_name}}</p>
        <p>project.sum = {{project.sum}}</p>

    </div>
    <br>
    <br>

    <div>
        <canvas id="myChart" class="chart chart-bar" chart-data="data" chart-labels="labels"> chart-series="series"
        </canvas>
     </div>
</div>


